<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sarajevo - Weather and Air Quality</title>
    <style>
      html {
        margin: 0;
        padding: 0;
      }
      body {
        text-align: center;
        font-family: Sans-Serif;
        margin: 0;
        padding: 0 0 50px 0;
      }
      header {
        background-color: black;
        color: white;
        padding: 20px 0 5px 0;
      }
      header h1 {
        margin: 0;
        padding: 0;
        font-size: 300%;
      }
      main {
        width: 800px;
        margin: 0 auto;
      }
      #weather h1,
      #weather img {
        display: inline-block;
      }
      #weather h1 {
        vertical-align: top;
        margin: 0;
        color: #EC6E4C;
        padding: 22px 0 0 0;
        font-size: 400%;
      }
      #air h1 {
        margin: 0;
        padding: 50px 0 0 0;
        font-size: 400%;
      }
      p {
        margin: 8px;
      }
      p.flex {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
      }
      p#weather_description {
        color: #EC6E4C;
        font-size: 200%
      }
      table {
        margin-left: auto;
        margin-right: auto;
      }
      table, th, td {
        border: 1px solid silver;
        border-collapse: collapse;
        padding: 4px;
      }
      td span {
        display: block;
        padding: 3px;
      }
      span.temp {
        color: #EC6E4C;
      }
      span.rain {
        color: blue;
      }
      td.good, h2.good, span.good {
        background: #00CC00;
      }
      td.moderate, h2.moderate {
        background: #FFCC00;
      }
      td.unhealthy_for_sensitive_groups, h2.unhealthy_for_sensitive_groups, span.unhealthy_for_sensitive_groups{
        background: #FF9900;
      }
      td.unhealthy, h2.unhealthy, span.unhealthy{
        background: #FF0000;
      }
      td.very_unhealthy, h2.very_unhealthy, span.very_unhealthy{
        background: #9966CC;
      }
      td.hazardous, h2.hazardous, span.hazardous{
        background: #990000;
      }
      @media (max-width: 600px) {
        main {
          width: 100%;
        }
        #weather table {
          font-size: 60%;
        }
        #weather th, #weather td {
          padding: 1px;
        }
        #weather table td span {
          padding: 0;
        }
        table img {
          width: 25px;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Sarajevo</h1>
      <p>Last update on <%= last_update %>.</p>
    </header>
    <main>
      <div id="weather">
        <h1><%= current_weather[:currenttemp] %>°C</h1>
        <img src="https://openweathermap.org/img/wn/<%= current_weather[:icon] %>@2x.png" />
        <p id="weather_description"><%= current_weather[:description] %></p>
        <p class="flex">
          <span class="temp">Feels like: <%= current_weather[:feelslike] %>°C</span>
          <span>Humidity: <%= current_weather[:humidity] %>%</span>
        </p>
        <p class="flex">
          <span class="rain">Rain: <%= current_weather[:rain] %>mm</span>
          <span>Wind: <%= current_weather[:wind] %>km/h</span>
        </p>
        <p class="flex">
          <span>Sunrise: <%= current_weather[:sunrise] %></span>
          <span>Sunset: <%= current_weather[:sunset] %></span>
        </p>
      </div>

      <div id="air">
        <h2 class="<%= cityAQIclass %>">AQI: <%= cityAQIclass %> (<%= cityAQI %>)  </h2>
        <table>
          <tr>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>CO</th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <tr>
            <td class="<%= pollutants[:so2][:class] %>"><%= pollutants[:so2][:value] %></td>
            <td class="<%= pollutants[:no2][:class] %>"><%= pollutants[:no2][:value] %></td>
            <td class="<%= pollutants[:co][:class] %>"><%= pollutants[:co][:value] %></td>
            <td class="<%= pollutants[:o3][:class] %>"><%= pollutants[:o3][:value] %></td>
            <td class="<%= pollutants[:pm10][:class] %>"><%= pollutants[:pm10][:value] %></td>
            <td class="<%= pollutants[:pm2_5][:class] %>"><%= pollutants[:pm2_5][:value] %></td>
          </tr>
        </table>
      </div>

      <div>  
        <h3> Latest AQI by monitoring stations</h3>
        <table>
          <tr>
            <th>Station</th>
            <th>AQI</th>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>CO</th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <% latest_aqi_values.each do |station, pollutants| %>
            <tr>
              <td><%= station %></td>
              <% %i[aqi so2 no2 co o3 pm10 pm2_5].each do |pollutant| %>
              <% if pollutants.key?(pollutant)%>
                <td class="<%= pollutants[pollutant][:class] %>">
                  <%= pollutants[pollutant][:value] %>
                </td>   
              <% else %>
                <td></td>
              <% end %>         
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

      <sub>Data provided by <a href="https://www.fhmzbih.gov.ba/latinica/ZRAK/AQI-satne.php">Federal Hydro-Meteorological Institute</a></sub>

      <div>
        <h2> Weather forecast </h2>  
        <table>
          <tr>
            <th></th>
            <th>01<sup>h</sup></th>
            <th>04<sup>h</sup></th>
            <th>07<sup>h</sup></th>
            <th>10<sup>h</sup></th>
            <th>13<sup>h</sup></th>
            <th>16<sup>h</sup></th>
            <th>19<sup>h</sup></th>
            <th>22<sup>h</sup></th>
          </tr>
          <% first = true %>
          <% weather_forecast.each do |day, values| %>
          <tr>
            <td><%= day %></td>
            <% if first == true %>
              <% to_skip = 8 - values.length %>
              <% if to_skip > 0 %>
                <td colspan="<%= to_skip %>"></td>
              <% end %>
            <% end %>
            <% values.each do |value| %>
            <td>
              <img src="https://openweathermap.org/img/wn/<%= value[:icon] %>.png" title="<%= value[:description] %>"/>
              <span class="temp"><%= value[:temp] %>°C</span>
              <span class="<%= value[:aqi_class] %>"><%if value[:aqi_class] %> AQI: <% end %> <%= value[:aqi_class] %> </span>
              <% if value[:rain] != 0 %>
              <sub><span class="rain"><%= value[:rain] %>mm</span></sub>
              <% else %>
              <sub>&nbsp</sub>
              <% end %>
            </td>
            <% end %>
          </tr>
           <% first = false %>
          <% end %>
        </table>
      </div>
      
      <sub>Data provided by <a href="https://openweathermap.org/city/3191281">OpenWeather</a></sub>

    </main>
  </body>
</html>