<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sarajevo - Weather and Air Quality</title>
    <style><%= style %></style>
  </head>
  <body>
    <header>
      <h1>Sarajevo</h1>
      <p>Last update on <%= last_update %>.</p>
    </header>
    <main class="container">
      <div id="weather" class="section">
        <h1><%= current_weather[:currenttemp] %>°C</h1>
        <img src="https://openweathermap.org/img/wn/<%= current_weather[:icon] %>@2x.png" />
        <p id="weather_description"><%= current_weather[:description] %></p>
        <p class="flex">
          <span class="temp">Feels like: <%= current_weather[:feelslike] %>°C</span>
          <span>Humidity: <%= current_weather[:humidity] %>%</span>
        </p>
        <p class="flex">
          <span class="rain">Rain: <%= current_weather[:rain] %>mm</span>
          <span>Wind: <%= current_weather[:wind] %>km/h</span>
        </p>
        <p class="flex">
          <span>Sunrise: <%= current_weather[:sunrise] %></span>
          <span>Sunset: <%= current_weather[:sunset] %></span>
        </p>
      </div>

      <div id="air" class="section">
        <h2 class="<%= city_pollutants[:aqi][:class] %>">AQI: <%= city_pollutants[:aqi][:class].gsub('_', ' ') %> (<%= city_pollutants[:aqi][:value] %>)  </h2>
        <b>Who Needs to be Concerned?</b>
        <p><%= city_pollutants[:aqi][:who] %></p>
        <br>
        <b>What Should I Do?</b>
        <p><%= city_pollutants[:aqi][:advisory] %></p>
        <br>
        <table class="centered-table">
          <tr>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>CO</th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <tr>
            <td class="<%= city_pollutants[:so2][:class] %>"><%= city_pollutants[:so2][:value] %></td>
            <td class="<%= city_pollutants[:no2][:class] %>"><%= city_pollutants[:no2][:value] %></td>
            <td class="<%= city_pollutants[:co][:class] %>"><%= city_pollutants[:co][:value] %></td>
            <td class="<%= city_pollutants[:o3][:class] %>"><%= city_pollutants[:o3][:value] %></td>
            <td class="<%= city_pollutants[:pm10][:class] %>"><%= city_pollutants[:pm10][:value] %></td>
            <td class="<%= city_pollutants[:pm2_5][:class] %>"><%= city_pollutants[:pm2_5][:value] %></td>
          </tr>
        </table>
      </div>

      <div id="stations-aqi" class="section">  
        <h3> Latest AQI by monitoring stations</h3>
        <table class="centered-table">
          <tr>
            <th>Station</th>
            <th>AQI</th>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>CO</th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <% stations_pollutants_aqi.each do |station, values| %>
            <tr>
              <td><%= values[:name] %></td>
              <% %i[aqi so2 no2 co o3 pm10 pm2_5].each do |pollutant| %>
              <% if values.key?(pollutant)%>
                <td class="<%= values[pollutant][:class] %>">
                  <%= values[pollutant][:value] %>
                </td>   
              <% else %>
                <td></td>
              <% end %>         
              <% end %>
            </tr>
          <% end %>
        </table>
        <br><br>
        <small>Data provided by <a href="https://www.fhmzbih.gov.ba/latinica/ZRAK/AQI-satne.php">Federal Hydro-Meteorological Institute</a></small>
      </div>

      <div id="weather_forecast" class="section">
        <h2> Weather forecast </h2>  
        <table class="centered-table">
          <tr>
            <th></th>
            <th>01<sup>h</sup></th>
            <th>04<sup>h</sup></th>
            <th>07<sup>h</sup></th>
            <th>10<sup>h</sup></th>
            <th>13<sup>h</sup></th>
            <th>16<sup>h</sup></th>
            <th>19<sup>h</sup></th>
            <th>22<sup>h</sup></th>
          </tr>
          <% first = true %>
          <% weather_forecast.each do |day, values| %>
          <tr>
            <td><%= day %></td>
            <% if first == true %>
              <% to_skip = 8 - values.length %>
              <% if to_skip > 0 %>
                <td colspan="<%= to_skip %>"></td>
              <% end %>
            <% end %>
            <% values.each do |value| %>
            <td>
              <img src="https://openweathermap.org/img/wn/<%= value[:icon] %>.png" title="<%= value[:description] %>"/><br>
              <span class="temp"><%= value[:temp] %>°C</span><br>
              <span class="<%= value[:aqi_class] %>"><%if value[:aqi_class] %> AQI: <% end %> <%= value[:aqi_class] %> </span><br>
              <% if value[:rain] != 0 %>
              <sub><span class="rain"><%= value[:rain] %>mm</span></sub>
              <% else %>
              <sub>&nbsp</sub>
              <% end %>
            </td>
            <% end %>
          </tr>
           <% first = false %>
          <% end %>
        </table>
        <br><small>Data provided by <a href="https://openweathermap.org/city/3191281">OpenWeather</a></small>
      </div>

    </main>
    <footer>
        <small>This website does not use cookies.</small>
    </footer>
  </body>
</html>