<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sarajevo meteo</title>
    <style><%= style %></style>
    <style><%= toggle_switchy %></style>
    <script><%= scrollBtn_script %></script>
    <% if I18n.locale == :en %>
      <script><%= js_script %></script>
    <% end %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  </head>
  <body>

    <header>
      <h1>Sarajevo</h1>
      <p><%= I18n.t(:last_update) %>: <br> <%= last_update %></p>

      <div class="lang_btn">
        <% if I18n.locale == :bs %>
          <div class="lang_on">bs</div>  
          <div> 
            <a class="lang_off" href="en/index.html">en</a> 
          </div>
        <% else %>
          <div>
            <a class="lang_off" href="../index.html">bs</a> 
          </div> 
          <div class="lang_on">en</div> 
        <% end %>
      </div>

      <% if I18n.locale == :en %>
      <div class="units_btn">
        <button id="metric" class="unit_on">metric: °C, km/h</button>
        <button id="imperial" class="unit_off">imperial: °F, mph</button>
      </div>
      <% end %>

    </header>

    <main class="theme adaptive">
      
      <div id="weather" class="section">
        <h2><%= I18n.t(:current_weather) %></h2>
        <% if current_weather.has_key?(:error) %>
          <p><%= current_weather[:error][I18n.locale] %></p>
        <% else %> 
          <div class="cw_container">
            <div class="float-child">
              <h1 class="temp"><%= current_weather[:currenttemp] %>°C</h1>
              <label class="temp_desc"><%= I18n.t(:feels_like) %>: </label><span class="temp"><%= current_weather[:feelslike] %>°C</span><br>
              <img src="https://openweathermap.org/img/wn/<%= current_weather[:icon] %>@2x.png" />
              <p id="weather_description"><%= current_weather[:description] %></p>
            </div>
            <div class="other_info float-child">
              <span><label><%= I18n.t(:humidity) %>: </label><%= current_weather[:humidity] %>%</span>
              <span class="rain"><label class="rain"><%= I18n.t(:rain) %>: </label><%= current_weather[:rain] %>mm</span>
              <span><label><%= I18n.t(:wind) %>: </label><label id="speed"><%= current_weather[:wind] %>km/h</label></span>
              <span><label><%= I18n.t(:sunrise) %>: </label><%= current_weather[:sunrise] %></span>
              <span><label><%= I18n.t(:sunset) %>: </label><%= current_weather[:sunset] %></span>
            </div>
          </div>  
      </div>

          <% if forecast_today != [] %>
          <div id="today_forecast">
            <div id="today_forecast_table">
              <table>
                <td id="fc_today" class="sticky-col first-col"><%= I18n.t(:weather_forecast_today) %></td>
                <% forecast_today.each do |interval| %>
                  <td class="fc_today_intervals" >
                    <p class="time"><%= interval[:time] %></p>
                    <img src="https://openweathermap.org/img/wn/<%= interval[:icon] %>.png" title="<%= interval[:description] %>"/><br>
                    <span class="temp"><%= interval[:temp] %>°C</span><br>
                    <% if interval[:rain] != 0 %>
                      <div class="small"><span class="rain"><%= interval[:rain] %>mm</span></div>
                    <% else %>
                      <div class="small">&nbsp</div>
                    <% end %>
                  </td>
                <% end %>
              </table>
            </div>
          </div>
          <% end %>
        <% end %>


      <div id="air" class="section">
        <h2><%= I18n.t(:aqi_quality_index) %></h2>
        <h3 id="city_aqi_main"
            data-e_aqi="<%= I18n.t("#{city_pollutants[:e_aqi][:class]}.name") %> (<%= city_pollutants[:e_aqi][:value] %>)"
            data-e_class="<%= city_pollutants[:e_aqi][:class] %>" 
            data-aqi="<%= I18n.t("#{city_pollutants[:aqi][:class]}.name") %> (<%= city_pollutants[:aqi][:value] %>)"
            data-class="<%= city_pollutants[:aqi][:class] %>"
            class="<%= city_pollutants[:e_aqi][:class] %>">
            <%= I18n.t("#{city_pollutants[:e_aqi][:class]}.name") %> (<%= city_pollutants[:e_aqi][:value] %>)  
        </h3>

        <table id="city_aqi" class="centered-table">
          <tr>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>CO</th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <tr>
            <td class="<%= city_pollutants[:so2][:class] %>"><%= city_pollutants[:so2][:value] %></td>
            <td class="<%= city_pollutants[:no2][:class] %>"><%= city_pollutants[:no2][:value] %></td>
            <td class="<%= city_pollutants[:co][:class] %>"><%= city_pollutants[:co][:value] %></td>
            <td class="<%= city_pollutants[:o3][:class] %>"><%= city_pollutants[:o3][:value] %></td>
            <td class="<%= city_pollutants[:pm10][:class] %>"><%= city_pollutants[:pm10][:value] %></td>
            <td data-e_pm2_5="<%= city_pollutants[:e_pm2_5][:value] %>" 
                data-e_class="<%= city_pollutants[:e_pm2_5][:class] %>" 
                data-pm2_5="<%= city_pollutants[:pm2_5][:value] %>" 
                data-class="<%= city_pollutants[:pm2_5][:class] %>" 
                class="<%= city_pollutants[:e_pm2_5][:class] %>">
              <%= city_pollutants[:e_pm2_5][:value] %>
            </td>
          </tr>
        </table>
        <br><br><br>

        <table id="aqi_legend" class="centered-table">
          <tr>
            <td class="aqi_val">0-50</td>
            <td class="good"><%= I18n.t('good.name') %></td>
            <td class="empty"></td>
            <td class="aqi_val">151-200</td>
            <td class="unhealthy"><%= I18n.t('unhealthy.name') %></td>
          </tr>
          <tr>
            <td class="aqi_val">51-100</td>
            <td class="moderate"><%= I18n.t('moderate.name') %></td>
            <td class="empty"></td>
            <td class="aqi_val">201-300</td>
            <td class="very_unhealthy"><%= I18n.t('very_unhealthy.name') %></td>
          </tr>
          <tr>
            <td class="aqi_val">101-150</td>
            <td class="unhealthy_for_sensitive_groups"><%= I18n.t('unhealthy_for_sensitive_groups.name') %></td>
            <td class="empty"></td>
            <td class="aqi_val">301-500</td>
            <td class="hazardous"><%= I18n.t('hazardous.name') %></td>
          </tr>
        </table>

        <div id="health_advisory">
          <div id="who_section">
            <h4><%= I18n.t(:who) %></h4>
            <p id="who"
               data-who_e_aqi="<%= I18n.t("#{city_pollutants[:e_aqi][:class]}.who") %>"
               data-who_aqi= "<%= I18n.t("#{city_pollutants[:aqi][:class]}.who") %>">
              <%= I18n.t("#{city_pollutants[:e_aqi][:class]}.who") %>
            </p>
          </div>
          <h4><%= I18n.t(:what_to_do) %></h4>
          <div id="advisory" 
               data-advisory_e_aqi="<%= I18n.t("#{city_pollutants[:e_aqi][:class]}.advisory") %>"
               data-advisory_aqi="<%= I18n.t("#{city_pollutants[:aqi][:class]}.advisory") %>">
            <%= I18n.t("#{city_pollutants[:e_aqi][:class]}.advisory") %>
          </div>
        </div>
      </div>

      <div id="stations-aqi" class="section">  
        <h2><%= I18n.t(:latest_aqi_data_ms) %></h2>

        <div class="toggle_pm2_5">
        <label for="cb_e_pm2_5" class="toggle-switchy" data-size="xs"  data-color="gray">
          <input type="checkbox" checked id="cb_e_pm2_5" >
          <span class="toggle">
            <span class="switch"></span>
          </span>
          <span class="label"><%= I18n.t(:estimate_pm2_5) %></span>
        </label>
        </div>

        <table id="stations_aqi" class="centered-table">
          <tr>
            <th><%= I18n.t(:aqi) %></th>
            <th><%= I18n.t(:station) %> </th>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>CO</th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <% stations_pollutants_aqi.each do |station, values| %>
            <tr>
              <td data-e_aqi="<%= values[:e_aqi][:value] %>"
                  data-e_class="<%= values[:e_aqi][:class] %>" 
                  data-aqi="<%= values[:aqi][:value] %>"
                  data-class="<%= values[:aqi][:class] %>"
                  class="<%= values[:e_aqi][:class] %>">
                  <%= values[:e_aqi][:value] %>
                </td>  
              <td class="station_name"><%= values[:name] %></td>
              <% %i[so2 no2 co o3 pm10 pm2_5].each do |pollutant| %>
                <% if values.key?(pollutant)%>
                  <% if pollutant == :pm2_5 %>
                    <td data-e_pm2_5="<%= values[:e_pm2_5][:value] %>" 
                        data-e_class="<%= values[:e_pm2_5][:class] %>" 
                        data-pm2_5="<%= values[pollutant][:value] %>" 
                        data-class="<%= values[pollutant][:class] %>" 
                        class="<%= values[:e_pm2_5][:class] %>">
                      <%= values[:e_pm2_5][:value] %>
                    </td>
                  <% else %>   
                    <td class="<%= values[pollutant][:class] %>">
                      <%= values[pollutant][:value] %>
                    </td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>         
              <% end %>
            </tr>
          <% end %>
        </table>
        <br><br>
        <div class="small"><%= I18n.t(:data_provided_by) %>  <a href="https://www.fhmzbih.gov.ba/latinica/ZRAK/AQI-satne.php"><%= I18n.t(:fhmz) %></a></div>
      
        <script>
          var checkbox = document.getElementById('cb_e_pm2_5');
          checkbox.addEventListener('click', estimatePm2_5);

          function estimatePm2_5() {
            var checkbox = document.getElementById('cb_e_pm2_5');

            var elementsWithEstimatedPm2_5 = document.querySelectorAll('[data-e_pm2_5]');
            var elementsWithEstimatedAQI = document.querySelectorAll('[data-e_aqi]');
            var who = document.getElementById('who');
            var advisory = document.getElementById('advisory');

            if (checkbox.checked){ 
              who.innerHTML = who.dataset.who_e_aqi;
              advisory.innerHTML = advisory.dataset.advisory_e_aqi; 

              elementsWithEstimatedPm2_5.forEach(function(element) {
                element.innerText = element.dataset.e_pm2_5;

                if (element.dataset.class !== ""){
                  element.classList.remove(element.dataset.class);
                  }
                
                if (element.dataset.e_class !==""){
                  element.classList.add(element.dataset.e_class);
                  }           
              });
              elementsWithEstimatedAQI.forEach(function(element) {
                element.innerText = element.dataset.e_aqi;

                if (element.dataset.class !== ""){
                  element.classList.remove(element.dataset.class);
                  }
                
                if (element.dataset.e_class !==""){
                  element.classList.add(element.dataset.e_class);
                  }           
              });
            }
            else{
              who.innerHTML = who.dataset.who_aqi;
              advisory.innerHTML = advisory.dataset.advisory_aqi;

              elementsWithEstimatedPm2_5.forEach(function(element) {
                
                element.innerText = element.dataset.pm2_5;

                if (element.dataset.e_class !== ""){
                  element.classList.remove(element.dataset.e_class);
                  }
                
                if (element.dataset.class !==""){
                  element.classList.add(element.dataset.class);
                  } 
              });
              elementsWithEstimatedAQI.forEach(function(element) {
                element.innerText = element.dataset.aqi;

                if (element.dataset.e_class !== ""){
                  element.classList.remove(element.dataset.e_class);
                  }
                
                if (element.dataset.class !==""){
                  element.classList.add(element.dataset.class);
                  }           
              });
            }

            var city_main = document.getElementById("city_aqi_main");
            var who_section =  document.getElementById("who_section");

            if(city_main.classList[0] === "good"){
              who_section.style.display = "none";
            } 
            else {
              who_section.style.display="block";
            }
          }
        </script>

        <div id="map"></div>

        <script>
          var checkbox = document.getElementById('cb_e_pm2_5');
          checkbox.addEventListener('click', estimateMapChange);
          // Initialize Leaflet map
          var map = L.map('map').setView([43.8560, 18.390], 12);

          // Add OpenStreetMap as the base layer
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);

          <% stations_pollutants_aqi.each do |_station, values| %>
            <% next if values[:aqi][:value].nil? %>
            
            // Define a custom HTML for the marker
            var customMarkerHtml = '<div class="custom-marker <%= values[:e_aqi][:class] %>"><%= values[:e_aqi][:value] %></div>';

            // Create a custom divIcon with the HTML
            var customIcon = L.divIcon({
                className: 'custom-div-icon',
                html: customMarkerHtml,
                iconSize: [30, 30]
            });

            // Add a marker with the custom icon
            L.marker([<%= values[:latitude] %>, <%= values[:longitude] %>], { icon: customIcon }).addTo(map).bindPopup('<%= values[:name] %>');
            
          <% end %>  

          function estimateMapChange() {
            var checkbox = document.getElementById('cb_e_pm2_5');

            if (checkbox.checked){ 
              <% stations_pollutants_aqi.each do |_station, values| %>
              <% next if values[:e_aqi][:value].nil? %>
              
              // Define a custom HTML for the marker
              var customMarkerHtml = '<div class="custom-marker <%= values[:e_aqi][:class] %>"><%= values[:e_aqi][:value] %></div>';

              // Create a custom divIcon with the HTML
              var customIcon = L.divIcon({
                  className: 'custom-div-icon',
                  html: customMarkerHtml,
                  iconSize: [30, 30]
              });

              // Add a marker with the custom icon
              L.marker([<%= values[:latitude] %>, <%= values[:longitude] %>], { icon: customIcon }).addTo(map).bindPopup('<%= values[:name] %>');
              
              <% end %>
            } 
            else {
              <% stations_pollutants_aqi.each do |_station, values| %>
              <% next if values[:aqi][:value].nil? %>
              
              // Define a custom HTML for the marker
              var customMarkerHtml = '<div class="custom-marker <%= values[:aqi][:class] %>"><%= values[:aqi][:value] %></div>';

              // Create a custom divIcon with the HTML
              var customIcon = L.divIcon({
                  className: 'custom-div-icon',
                  html: customMarkerHtml,
                  iconSize: [30, 30]
              });

              // Add a marker with the custom icon
              L.marker([<%= values[:latitude] %>, <%= values[:longitude] %>], { icon: customIcon }).addTo(map).bindPopup('<%= values[:name] %>');
            
              <% end %>  
            } 
          }
        </script>

      </div>

      <div id="weather_forecast" class="section">
        <h2><%= I18n.t(:weather_forecast) %></h2>
        <% if weather_forecast.has_key?(:error) %>
          <p><%= weather_forecast[:error][I18n.locale] %></p>
        <% else %>  
        <div id="forecast_table">
          <table class="centered-table" cellspacing="0">
            <tr>
              <td class="forecast_day sticky-col first-col"></td>
              <td class="time"><%= I18n.localize(Time.parse('01:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('04:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('07:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('10:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('13:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('16:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('19:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('22:00'), format: :hm) %></td>
              </div>
            </tr>
            <% first = true %>
            <% weather_forecast.each do |day, values| %>
            <tr class="border_bottom">
              <td class="forecast_day sticky-col first-col"><%= day %></td>
              <% if first == true %>
                <% to_skip = 8 - values.length %>
                <% if to_skip > 0 %>
                  <td colspan="<%= to_skip %>"></td>
                <% end %>
              <% end %>
              <% values.each do |value| %>
              <td>
                <img src="https://openweathermap.org/img/wn/<%= value[:icon] %>.png" title="<%= value[:description] %>"/><br>
                <span class="temp"><%= value[:temp] %>°C</span><br>
                <% if value[:rain] != 0 %>
                <div class="small"><span class="rain"><%= value[:rain] %>mm</span></div>
                <% else %>
                <div class="small">&nbsp</div>
                <% end %>
              </td>
              <% end %>
            </tr>
            <% first = false %>
            <% end %>
          </table>
        </div> 
        <br>
        <div class="small"><%= I18n.t(:data_provided_by) %>  <a href="https://openweathermap.org/city/3191281">OpenWeather</a></div>
        <% end %>
      </div>

    </main>

    <a id="button"></a>
    
    <footer>
        <div class="small">
          <p><%= I18n.t(:no_cookies) %></p>
          <p>JSON: <a href="/sa_aqi.json"><%= I18n.t(:sa_aqi) %></a> | <a href="/ms_aqi.json"><%= I18n.t(:ms_aqi) %></a> | <a href="/feed.json"><%= I18n.t(:all_data) %></a></p>
        </div>
    </footer>

  </body>
</html>