<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sarajevo meteo</title>
    <style><%= style %></style>
    <script><%= scrollBtn_script %></script>
    <% if I18n.locale == :en %>
      <script><%= js_script %></script>
    <% end %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  </head>
  <body>
  
    <header>
      <h1>Sarajevo</h1>
      <p><%= I18n.t(:last_update) %>: <br> <%= last_update %></p>

      <div class="lang_btn">
        <% if I18n.locale == :bs %>
          <div class="lang_on">bs</div>
          <div> / </div>  
          <div> 
            <a class="lang_off" href="en/index.html">en</a> 
          </div>
        <% else %>
          <div>
            <a class="lang_off" href="../index.html">bs</a> 
          </div> 
          <div> / </div>  
          <div class="lang_on">en</div> 
        <% end %>
      </div>

      <% if I18n.locale == :en %>
      <div class="units_btn">
        <div id="metric" class="unit_on">metric: °C, km/h</div>
        <div> / </div>  
        <div id="imperial" class="unit_off">imperial: °F, mph</div>
      </div>
      <% end %>

    </header>


    <main class="theme adaptive">

      <% if current_alarms != [] || future_alarms != [] %>
      <div id="meteoalarms" class="section">
        <h2> <%= I18n.t(:meteo_alarms) %></h2>

        <% if current_alarms == [] && future_alarms != [] %>
          <p><%= I18n.t(:no_current_alarms) %><p>
        <% else %>
          <% current_alarms.each do |alarm| %>
            <div class="<%= alarm[:alert][:info][I18n.locale][:parameter].first[:value].partition('; ')[2].partition(';')[0] + ' alarm'%>">
              <span>
                <b><%= I18n.localize(Time.parse(alarm[:alert][:info][I18n.locale][:onset]), format: :alarms_date) %></b>
                <%= I18n.localize(Time.parse(alarm[:alert][:info][I18n.locale][:onset]), format: :alarms_time) %>
                - <%= I18n.localize(Time.parse(alarm[:alert][:info][I18n.locale][:expires]), format: :alarms_time) %>
              </span>
              <h4><%= alarm[:alert][:info][I18n.locale][:event] %></h4> 
              </span>
              <span><%= alarm[:alert][:info][I18n.locale][:description] %></span>
              <span id="meteoalarm_instruction"><%= alarm[:alert][:info][I18n.locale][:instruction] %></span>
              <a href=<%= alarm[:alert][:info][I18n.locale][:web] %>><%= alarm[:alert][:info][I18n.locale][:senderName] %></a>
            </div>
          <% end %>
        <% end %>

        <% if future_alarms != [] %>
          <h3><%= I18n.t(:upcoming_alarms) %></h3>
          <% future_alarms.each do |alarm| %>
            <div class="<%= alarm[:alert][:info][I18n.locale][:parameter].first[:value].partition('; ')[2].partition(';')[0] + ' alarm'%>">
              <span>
                <b><%= I18n.localize(Time.parse(alarm[:alert][:info][I18n.locale][:onset]), format: :alarms_date) %></b>
                (<%= I18n.localize(Time.parse(alarm[:alert][:info][I18n.locale][:onset]), format: :alarms_time) %>
                - <%= I18n.localize(Time.parse(alarm[:alert][:info][I18n.locale][:expires]), format: :alarms_time) %>)
              </span>
              <h4><%= alarm[:alert][:info][I18n.locale][:event] %></h4> 
              </span>
              <span><%= alarm[:alert][:info][I18n.locale][:description] %></span>

              <details>
                <summary>...</summary>
                <span><%= alarm[:alert][:info][I18n.locale][:instruction] %></span>
                <a href=<%= alarm[:alert][:info][I18n.locale][:web] %>><%= alarm[:alert][:info][I18n.locale][:senderName] %></a>
              </details>
            </div>
          <% end %>
        <% end %>  
        <table class="centered-table">
          <tr>
            <td class="yellow empty"></td>
            <td><%= I18n.t(:moderate_alarm) %></td>
            <td class="orange empty"></td>
            <td><%= I18n.t(:severe_alarm) %></td>
            <td class="red empty"></td>
            <td><%= I18n.t(:extreme_alarm) %></td>
          </tr>
        </table>
        <div class="small">
          <%= I18n.t(:meteoalarm_disclaimer) %>
        </div>
      </div>
      <% end %>
      
      <div id="weather" class="section">
        <h2><%= I18n.t(:current_weather) %></h2>
        <% if yr_current_weather.key?(:error) %>
          <p><%= yr_current_weather[:error][I18n.locale] %></p>
        <% else %> 
          <div class="cw_container">
            <div class="float-child">
              <h3 class="temp"><%= yr_current_weather[:air_temperature] %>°C</h3>
              <img src="<%= icon_path(yr_current_weather[:icon]) %>" width="100"/>
            </div>
            <div class="other_info float-child">
              <span><label><%= I18n.t(:humidity) %>: </label><%= yr_current_weather[:relative_humidity] %>%</span>
              <% if yr_current_weather[:precipitation_amount] != 0.0 && interval[:precipitation_amount] == nil %>
                <span class="rain"><label class="rain"><%= I18n.t(:rain) %>: </label><%= yr_current_weather[:precipitation_amount] %>mm</span>
              <% end %>
              <span><label><%= I18n.t(:wind) %>: </label><label id="speed"><%= yr_current_weather[:wind_speed] %> m/s </label></span>
              <% if yr_current_weather[:uv_index] != 0.0 %>
                <span><label><%= I18n.t(:uv_index) %>: </label><%= yr_current_weather[:uv_index] %></span>
              <% end %>    
              <% unless sunrise_sunset.key?(:error) %>      
                <span><label><%= I18n.t(:sunrise) %>: </label><%= utc_to_datetime(sunrise_sunset[:sunrise]) %></span>
                <span><label><%= I18n.t(:sunset) %>: </label><%= utc_to_datetime(sunrise_sunset[:sunset]) %></span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="yr_forecast_table">
            <% yr_weather_forecast.each do |key, values| %>             
            <details <%= "open=true" if values[:name]=="Sarajevo" %>>
              <summary><%= values[:name] %></summary>
              <% if values[:forecast].is_a?(Hash) %>
                <p><%= values[:forecast][:error][I18n.locale] %></p>
              <% else %>
              <table>
              <tr>

                <% values[:forecast].each_with_index do |interval, index| %>
                  <td class="yr_td">
                    <span>
                      <% if index == 0 %>
                          <p>Now</p>
                      <% else %>
                        <%= I18n.localize(interval[:time], format: :hm ) %>
                      <% end %>  
                    </span>
                    <img src="<%= icon_path(interval[:icon]) %>" width="50"/>
                    <span class="temp temp_yr"><%= interval[:air_temperature] %>°C</span>
                    <% if interval[:uv_index] != 0.0 %>
                      <div class="smaller <%= interval[:uv_class] %> uv_index">UVI <%= interval[:uv_index] %></div>
                    <% else %>
                      <div class="small">&nbsp</div>
                    <% end %>
                    <% if interval[:precipitation_amount] == 0.0 || interval[:precipitation_amount] == nil %>
                      <div class="small">&nbsp</div>
                    <% else %>
                      <div class="small"><span class="rain"><%= interval[:precipitation_amount] %>mm</span></div>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              </table>
              <% end %>
            </details>

            <% end %>
        </div>  
         
        <div class="small">
          <%= I18n.t(:data_provided_by) %><br>  
          <a href="https://www.yr.no/en" target=”_blank”><%= I18n.t(:met_norway) %></a>
        </div> 

        <% if yr_current_weather[:uv_index] != 0.0 %>
          <div id="uvi_div">
            <h4 class="<%= yr_current_weather[:uv_class] %> uv_index"><%= I18n.t(:uv_index_dc) %>:  <%= I18n.t(yr_current_weather[:uv_class] + ".name") %> (<%= yr_current_weather[:uv_index] %>)</h4>
            <b><%= I18n.t(:uv_messages) %></b>
            <br>
            <p><%= I18n.t(yr_current_weather[:uv_class] + ".advisory") %></p>
            <br>
            <table id="uvi_legend" class="centered-table uvi_legend">
              <tr>
                <td class="aqi_val">1 - 2</td>
                <td class="uv_low empty"></td>
                <td ><%= I18n.t('uv_low.name') %></td>
              </tr>
              <tr>
                <td class="aqi_val">3 - 5</td>
                <td class="uv_moderate empty"></td>
                <td ><%= I18n.t('uv_moderate.name') %></td>
              </tr>
              <tr>
                <td class="aqi_val">6 - 7</td>
                <td class="uv_high empty"></td>
                <td ><%= I18n.t('uv_high.name') %></td>
              </tr>
              <tr>
                <td class="aqi_val">8 - 10</td>
                <td class="uv_very_high empty"></td>
                <td ><%= I18n.t('uv_very_high.name') %></td>
              </tr>
                <td class="aqi_val">11+</td>
                <td class="uv_extreme empty"></td>
                <td ><%= I18n.t('uv_extreme.name') %></td>
              </tr>
            </table>
          </div>
        <% end %>

      </div>



      <div id="air" class="section">
        <h2><%= I18n.t(:aqi_quality_index) %></h2>

        <h4>
          <%= I18n.t(:data_provided_by) %><br>  
          <a href="https://www.fhmzbih.gov.ba/latinica/ZRAK/AQI-satne.php" target=”_blank”><%= I18n.t(:fhmz) %></a>
        </h4>

        <% unless city_pollutants[:class].nil? %> 

        <h3 class="<%= city_pollutants[:class] %> city_aqi_main"> 
          <%= I18n.t(:aqi) %>:  <%= I18n.t("#{city_pollutants[:class]}.name") %> (<%= city_pollutants[:value] %>)  
        </h3>

        <% end %>

        <div id="map"></div>

        <script>

          // Initialize Leaflet map
          var map = L.map('map').setView([43.8560, 18.390], 12);

          // Add OpenStreetMap as the base layer
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);

          <% stations_pollutants_aqi.each do |_station, values| %>
            <% next if values[:aqi][:value].nil? %>
            
            // Define a custom HTML for the marker
            var customMarkerHtml = '<div class="custom-marker <%= values[:aqi][:class] %>"><%= values[:aqi][:value] %></div>';

            // Create a custom divIcon with the HTML
            var customIcon = L.divIcon({
                className: 'custom-div-icon',
                html: customMarkerHtml,
                iconSize: [30, 30]
            });

            // Add a marker with the custom icon
            L.marker([<%= values[:latitude] %>, <%= values[:longitude] %>], { icon: customIcon }).addTo(map).bindPopup('<%= values[:name] %>');
            
          <% end %>  

        </script>

        <table class="stations_aqi centered-table">
          <tr>
            <th><%= I18n.t(:aqi) %></th>
            <th><%= I18n.t(:station) %> </th>
            <th>SO<sub>2</sub></th>
            <th>NO<sub>2</sub></th>
            <th>O<sub>3</sub></th>
            <th>PM<sub>10</sub></th>
            <th>PM<sub>2.5</sub></th>
          </tr>
          <% stations_pollutants_aqi.each do |station, values| %>
            <% next if ['ilidza', 'vogosca', 'hadzici', 'ivan_sedlo', 'ilijas'].include?(station) %>
            <tr>
              <td class="<%= values[:aqi][:class] %>">
                  <%= values[:aqi][:value] %>
              </td>  
              <td class="station_name"><%= values[:name] %></td>
              <% %i[so2 no2 o3 pm10 pm25].each do |pollutant| %>
                <% if values.key?(pollutant)%>        
                  <td class="<%= values[pollutant][:class] %>">
                    <%= values[pollutant][:value] %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>         
              <% end %>
            </tr>
          <% end %>
          <% stations_pollutants_aqi.each do |station, values| %>
            <% next if ['vijecnica', 'bjelave', 'otoka'].include?(station) %>
            <tr class="hiddenRow" style="display: none;">
              <td class="<%= values[:aqi][:class] %>">
                <%= values[:aqi][:value] %>
            </td> 
              <td class="station_name"><%= values[:name] %></td>
              <% %i[so2 no2 o3 pm10 pm25].each do |pollutant| %>
                <% if values.key?(pollutant)%>
                    <td class="<%= values[pollutant][:class] %>">
                      <%= values[pollutant][:value] %>
                    </td>
                <% else %>
                  <td></td>
                <% end %>         
              <% end %>
            </tr>
          <% end %>
          <div>
        </table>
        <button id="see_more_stations" data-text_more="<%= I18n.t(:see_more_stations) %>" data-text_less="<%= I18n.t(:show_less_stations) %>"><%= I18n.t(:see_more_stations) %></button>

        <% unless city_pollutants[:class].nil? %> 
          <div id="who_section">
            <p class="hm_title"><b> <%= I18n.t("health_messages") %> </b></p>
            <p id="health_messages"> <%= I18n.t("health_messages_text") %> </p>

            <p class="hm_title"><b> <%= I18n.t("general_population") %> </b></p>
            <p> <%= I18n.t("#{city_pollutants[:class]}.general_population") %> </p>

            <p class="hm_title"><b> <%= I18n.t("sensitive_population") %> </b></p>
            <p> <%= I18n.t("#{city_pollutants[:class]}.sensitive_population") %> </p>
          </div>
        <% end %>
        
        <table id="aqi_legend" class="centered-table">
          <tr>
            <td class="good_eea">1</td>
            <td ><%= I18n.t('good_eea.name') %></td>
            <td class="empty"></td>
            <td class="poor_eea">4</td>
            <td ><%= I18n.t('poor_eea.name') %></td>
          </tr>
          <tr>
            <td class="fair_eea">2</td>
            <td ><%= I18n.t('fair_eea.name') %></td>
            <td class="empty"></td>
            <td class="very_poor_eea">5</td>
            <td ><%= I18n.t('very_poor_eea.name') %></td>
          </tr>
          <tr>
            <td class="moderate_eea">3</td>
            <td ><%= I18n.t('moderate_eea.name') %></td>
            <td class="empty"></td>
            <td class="extremely_poor_eea">6</td>
            <td ><%= I18n.t('extremely_poor_eea.name') %></td>
          </tr>
        </table>

        </div>  
        <div id="air_more" class="section">

        <h3><%= I18n.t(:aqi_more) %></h3>

        <% if ekoakcija_aqi_data.is_a?(Hash) %>
          <p><%= ekoakcija_aqi_data[:error][I18n.locale] %></p>
        <% else %>
          <% (eko_akcija, ea_city_aqi_value, ea_city_aqi_class) = ekoakcija_aqi_data %>
        <h4>
          <%= I18n.t(:data_provided_by) %><br>  
          <a href="https://zrak.ekoakcija.org/sarajevo" target=”_blank”><%= I18n.t(:aqi_eko_akcija) %></a>
        </h4>
          <h3 class="<%= ea_city_aqi_class %> city_aqi_main"><%= I18n.t(:aqi) %>: <%= I18n.t(ea_city_aqi_class + ".name") %> (<%= ea_city_aqi_value %>)</h3>
          <p class="small">*<%= I18n.t(:aqi_eko_akcija_disclaimer) %></p>
          <table class="stations_aqi centered-table">
              <th><%= I18n.t(:station) %> </th>
              <th>PM<sub>10</sub></th>
              <th>PM<sub>2.5</sub></th>
              <th>SO<sub>2</sub></th>
              <th><%= I18n.t(:aqi) %></th>
            <% eko_akcija.each do |raw| %>
              <tr>
              <% raw.each_with_index do |el, index| %>
                <% next if index == 5 %>
                <% if index == 4 %>
                  <td class="<%= text_to_class(raw[5]) %>"><%= el %></td>
                <% else %>
                  <td><%= el %></td>
                <% end %>
              <% end %>
              </tr>
            <% end %>
          </table>
          <p id="ea_health_messages"><%= I18n.t(ea_city_aqi_class + ".advisory") %></p>
          <br>

          <table id="aqi_legend" class="centered-table">
            <tr>
              <td class="aqi_val">0 - 50 &nbsp</td>
              <td class="good empty"></td>
              <td ><%= I18n.t('good.name') %></td>
            </tr>
            <tr>
              <td class="aqi_val">51 - 100</td>
              <td class="moderate empty"></td>
              <td ><%= I18n.t('moderate.name') %></td>
            </tr>
            <tr>
              <td class="aqi_val">101 - 150</td>
              <td class="unhealthy_for_sensitive_groups empty"></td>
              <td ><%= I18n.t('unhealthy_for_sensitive_groups.name') %></td>
            </tr>
            <tr>
              <td class="aqi_val">151 - 200</td>
              <td class="unhealthy empty"></td>
              <td ><%= I18n.t('unhealthy.name') %></td>
            </tr>
              <td class="aqi_val">201 - 300</td>
              <td class="very_unhealthy empty"></td>
              <td ><%= I18n.t('very_unhealthy.name') %></td>
            </tr>
            <tr>
              <td class="aqi_val">301 - 500</td>
              <td class="hazardous empty"></td>
              <td ><%= I18n.t('hazardous.name') %></td>
            </tr>
          </table>
        <% end %>  

        <br><hr>
        <h4>
          <%= I18n.t(:data_provided_by) %><br>  
          <a href="https://aqms.live/kvalitetzraka/index.php" target=”_blank”><%= I18n.t(:aqi_ks) %></a>
        </h4>
          <details>
            <summary><%= I18n.t(:raw_data) %></summary>
            <br>
            <table class="stations_aqi centered-table">
            <tr>
              <th><%= I18n.t(:station) %> </th>
              <th>SO<sub>2</sub></th>
              <th>NO<sub>2</sub></th>
              <th>O<sub>3</sub></th>
              <th>CO</th>
              <th>PM<sub>10</sub></th>
              <th>PM<sub>2.5</sub></th>
            </tr>
            <% ks_aqi.each do |station, values| %>
            <tr>
              <td class="ks_station"> <%= station %> </td>
              <% %w[SO2 NO2 O3 CO PM10 PM2.5].each do |pollutant| %>
                <% if values.key?(pollutant) %>
                  <td class="<%= values[pollutant][:css_class] %>">
                    <b><%= values[pollutant][:concentration] %></b>
                    <% unless values[pollutant][:date].nil? %>
                      <%= I18n.localize(values[pollutant][:date], format: :normal) %>
                      <%= I18n.localize(values[pollutant][:time], format: :hm) %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
            <% end %>
          </table>
          </details>
          <br>
          <table class="stations_aqi centered-table">
            <tr>
              <th><%= I18n.t(:station) %> </th>
              <th>SO<sub>2</sub></th>
              <th>NO<sub>2</sub></th>
              <th>O<sub>3</sub></th>
              <th>CO</th>
              <th>PM<sub>10</sub></th>
              <th>PM<sub>2.5</sub></th>
            </tr>
            <% ks_aqi.each do |station, values| %>
            <tr>
              <td class="ks_station"> <%= station %> </td>
              <% %w[SO2 NO2 O3 CO PM10 PM2.5].each do |pollutant| %>
                <% if values.key?(pollutant) && values[pollutant][:date] != nil && I18n.localize(values[pollutant][:date], format: :normal) ==  I18n.localize(Time.now, format: :normal) %>
                  <td class="<%= values[pollutant][:css_class] %>">
                    <%= values[pollutant][:aqi] %>
                  </td> 
                <% end %>
              <% end %>
            </tr>
            <% end %>
          </table>        
      </div>

      <div id="weather_forecast" class="section">
        <h2><%= I18n.t(:weather_forecast) %></h2>
        <% if own_weather_forecast.has_key?(:error) %>
          <p><%= own_weather_forecast[:error][I18n.locale] %></p>
        <% else %>  
        <div id="forecast_table">
          <table class="centered-table" cellspacing="0">
            <tr>
              <td class="forecast_day sticky-col first-col"></td>
              <td class="time"><%= I18n.localize(Time.parse('01:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('04:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('07:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('10:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('13:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('16:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('19:00'), format: :hm) %></td>
              <td class="time"><%= I18n.localize(Time.parse('22:00'), format: :hm) %></td>
              </div>
            </tr>
            <% first = true %>
            <% own_weather_forecast.each do |day, values| %>
            <tr class="border_bottom">
              <td class="forecast_day sticky-col first-col"><%= day %></td>
              <% if first == true %>
                <% to_skip = 8 - values.length %>
                <% if to_skip > 0 %>
                  <td colspan="<%= to_skip %>"></td>
                <% end %>
              <% end %>
              <% values.each do |value| %>
              <td>
                <img src="https://openweathermap.org/img/wn/<%= value[:icon] %>.png" title="<%= value[:description] %>"/><br>
                <span class="temp"><%= value[:temp] %>°C</span><br>
                <% if value[:rain] != 0 %>
                <div class="small"><span class="rain"><%= value[:rain] %>mm</span></div>
                <% else %>
                <div class="small">&nbsp</div>
                <% end %>
              </td>
              <% end %>
            </tr>
            <% first = false %>
            <% end %>
          </table>
        </div> 
        <br>
        <div class="small"><%= I18n.t(:data_provided_by) %>  <a href="https://openweathermap.org/city/3191281" target=”_blank”>OpenWeather</a></div>
        <% end %>
      </div>

    </main>

    <a id="button"></a>
    
    <footer>
        <div class="small">
          <p><%= I18n.t(:no_cookies) %></p>
          <p>JSON: <a href="/sa_aqi.json"><%= I18n.t(:sa_aqi) %></a> | <a href="/ms_aqi.json"><%= I18n.t(:ms_aqi) %></a> | <a href="/feed.json"><%= I18n.t(:all_data) %></a></p>
        </div>
    </footer>

  </body>
</html>